* Tooltip container */

html {
	font-family: "Roboto";
}

.container-90 {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

.container-full {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}

.centered-text {
	text-align: center;
	align-items: center;
}

.tooltip {
	position: relative;
	display: inline-block;
	z-index: 10000;
	/*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

.tooltiptext {
	font-family: "Lucida Sans Typewriter";
	font-size: 10px;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 80px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: -1;
	bottom: 80%;
	left: 50%;
	margin-left: -48px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 0.8;
}


li.cus-dropdown {
	display: inline-block;
	z-index: 2000;
	position: relative;
}

.cus-dropdown-div-right {
	right: 0px;
}

.cus-dropdown-div-left {
	left: 0px;
}

.cus-dropdown-div {
	display: none;
	position: absolute;
	height: 0px;
	width: 300px;
	z-index: 2001;
}

.cus-dropdown-div-wide {
	width: 400px;
}

.cus-dropdown:hover .cus-dropdown-div {
	display: block;
	height: 10px;
	transition: height 0.2s;
}

.cus-dropdown:hover .cus-dropdown-content {
	/*display: inline-block;*/
	height: 280px;
	transition: height 0.2s;
}

.cus-dropdown:hover .cus-dropdown-content-small {
	/*display: inline-block;*/
	height: 180px;
	transition: height 0.2s;
}

.cus-dropdown-content-small {
	height: 0px;
	z-index: 2001;
	background-color: #F9F9F9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	color: black;
	padding: 5px;
	overflow: scroll;
}

.cus-dropdown-content {
	height: 0px;
	z-index: 2001;
	background-color: #F9F9F9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	color: black;
	padding: 5px;
	overflow: scroll;
}

.normal-text {
	color: #333333;
	font-family: "Lucida Sans Typewriter";
	font-size: 10px;
	margin: 0px;
}

.text-area {
	background: #FFFFFF;
	padding: 30px;
	color: #333333;
	font-family: "Lucida Sans Typewriter";
	font-size: 10px;
	height: 100%;
}

.marginless {
	margin: 0px;
}

.buttons-menu {
	background-color: #666666;
	position: absolute;
	width: auto;
	height: 510px;
	top: 40px;
}

.collapsible-button {
	position: absolute;
	display: inline-block;
	height: 30px;
	width: 30px;
	left: 0px;
	top: 0px;
	background-color: #DDDDDD;
	padding-top: 5px;
	padding-left: 10px;
	margin: none;
	color: white;
}

.collapsible-div {
	posiion: absolute;
	/*display: none;*/
	/*right: 0px;
	top: 0px;*/
	width: 0px;
	height: 400px;
	/*z-index: 10000;*/
	background-color: #888888;
	color: white;
}

.holder {
	display: none;
	position: absolute;
	height: 100px;
	width: 300px;
	z-index: 2001;
}

.holder div {
	/*border-left: 1 px solid #333; */
	/*border-right: 1 px solid #333; */
	border: 1px solid black;
	padding:10px;
	margin:0;
	background-color: red;
}

.top {
	width:248px;
	height:30px;
	border:1px solid #333;
}

.bottom {
	width:248px;
	height:10px;
	border:1px solid #333;
}

.collapsible-button:hover {
	/*margin-left: 200px;*/
	/*transition: margin 0.3s;*/
}

.collapsible-button:hover .collapsible-div {
	/*width: 200px;*/
	/*display: block;*/
	/*transition: width 0.3s;*/
}

.floating-banner {
	position:fixed;
	width:100%;
	height:100px;
	background-color: blue;
	z-index: 100000000;
	bottom:0px;
}

.floatingbutton {
	position:fixed;
	height:100px;
	width:200px;
	background-color: red;
	color: white;
}