/* general CSS fomatting*/
html {
	font-family: "Roboto";
}

/* wide container for the webpage */
.container-90 {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

/* possible full width container for bpage*/
.container-full {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}

/* main container for classroom features */
.classes-container {
	margin-top: 60px;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

/* header for classroom features */
.classes-container .classes-header {
	position: relative;
	display: block;
	width: 100%;
	background-color: #FFFFFF;
	margin: none;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 1000;
	margin: 0 auto;
}

/* contains the main canvas screen */
.mainContent {
	position: relative;
}

/* the div containing the canvas */
.mainContent .canvasContainer {
	position: relative;
	margin: 0 auto;
	position: relative;
}

/* format the canvas */
.canvasContainer .cus-canvas {
	position: relative;
	display: inline-block;
}

/* format the chatbox */
.cus-chatbox {
	z-index: 5000;
	width: 200px;
	height: 600px;
	position: absolute;
	display: inline-block;
	padding: 20px;
	background-color: white;
	display: none;
}

/* centers text horizontally */
.centered-text {
	text-align: center;
	align-items: center;
}

/* custom tooltips that appear when hte mouse hovers */
.tooltip {
	position: relative;
	display: inline-block;
	z-index: 10000;
}

/* custom text inside tooltip*/
.tooltip .tooltiptext {
	font-family: "Lucida Sans Typewriter";
	font-size: 10px;
	visibility: hidden;
	width: 80px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: -1;
	bottom: 80%;
	left: 50%;
	margin-left: -48px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 0.8;
}


/* dropdown navmar menu */
li.cus-dropdown {
	display: inline-block;
	z-index: 2000;
	position: relative;
}

/* right-aligned dropdown navmar menu */
.cus-dropdown-div-right {
	right: 0px;
}

/* left-aligned dropdown navmar menu */
.cus-dropdown-div-left {
	left: 0px;
}

/* div within dropdown navmar menu */
.cus-dropdown-div {
	display: none;
	position: absolute;
	height: 0px;
	width: 300px;
	z-index: 2001;
}

/* div within dropdown navmar menu, wide version */
.cus-dropdown-div-wide {
	width: 400px;
}

/* when the dropdown is hovered, the div will appear */
.cus-dropdown:hover .cus-dropdown-div {
	display: block;
	height: 10px;
	transition: height 0.2s;
}

/* when the dropdown is hovered, the div content will appear */
.cus-dropdown:hover .cus-dropdown-content {
	/*display: inline-block;*/
	height: 280px;
	transition: height 0.2s;
}

/* when the dropdown is hovered, the div will appear. Small version, */
.cus-dropdown:hover .cus-dropdown-content-small {
	/*display: inline-block;*/
	height: 180px;
	transition: height 0.2s;
}

/* when the dropdown is hovered, the div will appear */
.cus-dropdown-content-small {
	height: 0px;
	z-index: 2001;
	background-color: #F9F9F9;
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
	color: black;
	padding: 5px;
	overflow: hidden;
}

/* content that appears in a dropdown */
.cus-dropdown-content {
	height: 0px;
	z-index: 2001;
	background-color: #F9F9F9;
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
	color: black;
	padding: 5px;
	overflow: hidden;
}

/* default text formatting */
.normal-text {
	color: #333333;
	font-family: "Lucida Sans Typewriter";
	font-size: 10px;
	margin: 0px;
	line-height: 200%;
}

/* default small font */
.small-text {
	font-size: 10px;
}

/* default medium font */
.med-text {
	font-size: 14px;
}

/* default large font */
.large-text {
	font-size: 21px;
}

/* default VERY large font */
.very-large-text {
	font-size: 42px;
}

/* default text content area */
.text-area {
	background: #FFFFFF;
	padding: 30px;
	color: #333333;
	font-family: "Lucida Sans Typewriter";
	font-size: 10px;
	height: 100%;
}

/* remove all margins */
.marginless {
	margin: 0px;
}

/* button menu formatting */
.buttons-menu {
	background-color: #666666;
	position: absolute;
	width: auto;
	height: 510px;
	top: 40px;
}

/* a section of the side panel */
.collapsible-section {
	height: 40px;
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
}

/* collapsible side panel */
.collapsible-panel {
	background-color: #999999;
	height: 100%;
	width: 100%;
	padding: 10px;
}

/* side panel appears shen button is hovered */
.collapsible-section:hover .collapsible-panel {
	background-color: #3399CC;
}

/* format the trigger button */
.collapsible-button {
	position: absolute;
	display: inline-block;
	height: 30px;
	width: 30px;
	left: 0px;
	top: 0px;
	padding-top: 5px;
	padding-left: 10px;
	margin: none;
}

/* the trigger button on the right */
.collapsible-button-right {
	position: absolute;
	display: inline-block;
	height: 30px;
	width: 60px;
	padding-top: 5px;
	padding-left: 10px;
	margin: none;
}

/* div that is triggered when button is highlighted */
.collapsible-div {
	position: absolute;
	width: 0px;
	height: 500px;
	padding: 30px;
	color: white;
	left: 40px;
	visibility: hidden;
}

/* aanything that is a child of a "collapsible" element will disappear by default */
.collapsible-div * {
	visibility: hidden !important;
}

/* content within the side div */
.collapsible-div .collapsible-content {
	width: 0px;
	height: 480px;
	visibility: hidden;
	overflow: scroll;
}


/* heading within the side div */
.collapsible-button .collapsible-heading {
	visibility: hidden;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 0px;
	height: 40px;
	width: 100%;
}

/* a spacer in the side div */
.collapsible-div .collapsible-space {
	padding: 20px;
	visibility: hidden;
}

/* when the side panel trigger buttons are hovered... */
.collapsible-button:hover {
	/*height: 40px;*/
	z-index: 2001;
	width: 50px;
	transition: width 0.2s;
}

/* ...unhide everything a level down */
.collapsible-button:hover * {
	visibility: visible !important;
}

/* format the animation */
.collapsible-button:hover .collapsible-div {
	visibility: visible;
	animation-delay: 2s;
	width: 200px;
	padding: 10px;
}

/* show the side panel content when the trigger button is hovered */
.collapsible-button:hover .collapsible-content {
	visibility: visible;
	width: 100%;
}

/* show the side panel header when the trigger button is hovered */
.collapsible-button:hover .collapsible-heading {
	visibility: visible;
}

/* show the side panel spacers when the trigger button is hovered */
.collapsible-button:hover .collapsible-space {
	visibility: visible;
}

/* format paragraphs within spaces in the side panels */
.collapsible-space p {
	padding: 0;
	margin: 0;
}

/* a "section" within side panel */
.collapsible-space-section {
	padding-top: 0px;
	padding-bottom: 30px;
}

/* default formatting for spacer in the side panels */
.collapsible-space-spacer {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* format the slider for adjjusting color */
.cus-slider {
	margin: 0;
	padding: 0;
}

/* format a horizontal rule */
.cus-hr {
	border: 1px dashed #999999;
}

/* format a very light panel */
.col-veryLight {
	background-color: #EEEEEE;
	color: #333333;
}

/* format a light panel */
.col-light {
	background-color: #DDDDDD;
	color: #000000;
}

/* format a very light panel */
.col-light2 {
	background-color: #CCCCCC;
	color: #FFFFFF;
}

/* format a medium panel */
.col-med {
	background-color: #BBBBBB;
	color: #FFFFFF;
}

/* format a lightmedium panel */
.col-med2 {
	background-color: #A5A5A5;
	color: #FFFFFF;
}

/* format a dark panel */
.col-dark {
	background-color: #999999;
	color: #FFFFFF;
}

/* format a dropdown menu item */
.menu-item {
	font-family: "Roboto";
	display: inline-block;
	/*height: 30px;*/
	min-width: 80px;
	/*background-color: #DDDDDD;*/
	padding-top: 5px;
	padding-bottom: 5px;
	/*padding-left: 10px;*/
	margin: 0;
}

/* format a list of dropdown items */
.dropdown-list {
	position: absolute;
	width: 200px;
	background-color: white;
	z-index: 3000;
	/*top: 0px;*/
	visibility: hidden;
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

/* format menu mbar drwopdown elements */
.dropdown-item {
	width: 100%;
	/*height: 30px;*/
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 3001;
	visibility: hidden;
}

/* when a menu item is hovered */
.dropdown-item:hover {
	background-color: #d7dcdf;
}

/* when a menu item is being clicked */
.dropdown-item:active {
	background-color: #1abc9c;
}

/* when a menu item is being hovered */
.menu-item:hover {
	background-color: #1abc9c;
}

/* format a dropdown list under a menu item when hovered */
.menu-item:hover .dropdown-list {
	visibility: visible;
}

/* format a dropdown list under a menu element when hovered */
.menu-item:hover .dropdown-item {
	visibility: visible;
}

/* format a helper tutorial */
.holder {
	display: none;
	position: absolute;
	height: 100px;
	width: 300px;
	z-index: 5000;
}

/* format the div within a helper tutorial */
.holder div {
	border: 1px solid black;
	padding: 10px;
	margin: 0;
	background-color: pink;
}

/* format top part of helper tutorial */
.top {
	width: 248px;
	height: 30px;
	border: 1px solid #333;
}

/* format bottom part of helper tutorial */
.bottom {
	width: 248px;
	height: 10px;
	border: 1px solid #333;
}

/* format the message part of the helper tutorial */
.floating-banner {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: pink;
	z-index: 5000;
	bottom: 0px;
}

/* format the next button for tutorial */
.floatingbutton {
	left: 50%;
  	margin-left: -100px;
	position:fixed;
	height:100px;
	width:200px;
}

/* format the navbar for the tutorial */
#floatingBar {
	display: none;

}

/* default shadow */
.box-shadow-centered {
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

/* shadow to the left */
.box-shadow-left {
	box-shadow: -16px 0px 16px 0px rgba(0,0,0,0.2);
}

/* shadow to the right */
.box-shadow-right {
	box-shadow: 16px 0px 16px 0px rgba(0,0,0,0.2);
}

/* shadow to the bottom */
.box-shadow-bottom {
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

/* format canvas when hovered */
#canvas:hover {
	cursor: crosshair;
}

/* format message box*/
.cus-message-box {
	right: 0px;
	height: 100%;
	position: absolute;
	display: inline-block;
	padding: 20px;
	width: 21%;
}

/* format message box when hovered */
.cus-message-box:hover {
	width: 300px;
}

/* options for formatting scrollbars*/
::-webkit-scrollbar-thumb {
	/*width: 50px;*/
	background-color: black;
	/*background: transparent;*/
}

/* options for foramtting scrollbar track */
::-webkit-scrollbar-track {
	/*width: 50px;*/
	/*background-color: transparent;*/
	/*background: transparent;*/
}

/* format a default modal box*/
.cus-modal {
	height: 600px;
	width: 900px;
	background-color: white;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
	z-index: 10000;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	display: none;
}

/* format default modal box header */
.cus-modal .cus-modal-header {
	height: 60px;
	border-bottom: 1px solid #CCCCCC;
	padding: 20px;
	text-align: center;
}

/* format default modal box body */
.cus-modal .cus-modal-body {
	width: 100%;
	height: 480px;
	padding: 30px;
	left: 25%;
	right: 25%;
}

/* format default modal box bottom */
.cus-modal .cus-modal-bottom {
	height: 60px;
	padding: 10px;
	text-align: center;
	border-top: 1px solid #CCCCCC;
}